
<div   > 
    <h1>  
    film Details
</h1>

<ul> 
<li> Tile:{{dataFilm.title}}</li> 
<li> Episode:{{dataFilm.episode_id}}</li> 
<li> Résumé:{{dataFilm.opening_crawl}} </li> 
<li> Directeur:{{dataFilm.director}} </li> 
<li> Producteur:{{dataFilm.producer}} </li> 
<li> Date de sortie:{{dataFilm.release_date}}</li> 


</ul>  
</div>

<!-- <ul *ngFor="let data of dataFilm"> 
<li> Tile:{{data.title}}</li> 
<li> Episode:{{data.episode_id}}</li> 
<li> Résumé:{{data.opening_crawl}} </li> 
<li> Directeur:{{data.director}} </li> 
<li> Producteur:{{data.producer}} </li> 
<li> Date de sortie:{{data.release_date}}</li> 


</ul>  -->